services:
  postgres:
    image: postgres:18.1
    restart: always
    container_name: postgres
    ports:
      - '5432:5432'
    volumes:
      - 'postgres-data:/var/lib/postgresql'
    env_file: .env

volumes:
  postgres-data: