services:
  postgres:
    image: postgres:18.1
    restart: always
    container_name: postgres
    ports:
      - '5432:5432'
    volumes:
      - '/home/astro/.local/share/data/postgres:/var/lib/postgresql'
    env_file: .env

